.main {
  display: flex;
  height: 100%;
  width: 100%;
}

.boton {
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  height: 2em;
  border: 0.15em solid white;
  border-radius: 1em;
  border-color: solid pink;

  background-color: rgb(255, 0, 179);
}

.carrito {
  flex: 1;
  width: 30%;
  height: 100%;
  position: sticky;
}

.store {

}
