.main {
  flex-grow: 1;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  max-height: 100%;
  overflow-y: auto;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.caca {
  animation: greenFadeOut 3s ease-in-out forwards;
  background-color: rgb(65, 254, 65);
}

.invisible {
  visibility: hidden;
}

@keyframes greenFadeOut {
  0% {
    opacity: 1;
  }
  50% {
    background-color: rgb(65, 254, 65);
  }
  100% {
    opacity: 0;
  }
}
