<div class="view">
  <div class="content">
    <img
      class="img"
      [src]="candyPreview.candy.photoLink"
      alt="Product Preview"
    />
    <div class="text">
      <div class="titles">
        <div class="title">{{ candyPreview.candy.name }}</div>
        <div class="price">${{ candyPreview.candy.price }}</div>
      </div>
      <div class="subtitles">
        {{ candyPreview.candy.flavour }} - {{ candyPreview.candy.colour }}
      </div>
      <div class="desc">{{ candyPreview.candy.description }}</div>
    </div>

    <div class="stock">
      <input type="number" disabled [value]="candyPreview.stock" />
    </div>
  </div>
  <div class="divadd">
    <button
      class="addcandy"
      (click)="addCandyToStorage()"
      [disabled]="!hasBeenChanged"
      [ngClass]="hasBeenChanged ? 'valid' : 'notvalid'"
    >
      Añadir Caramelo
    </button>
  </div>
  <!-- <button (click)="caca()">12312321</button> -->
</div>
