.form {
  height: calc(100vh - 5em);
  margin: 10px;
  flex: 1;
  display: flex;
  max-height: 100%;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: left;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.inputs {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;

  background-color: rgb(255, 234, 238);

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
}

.formsinput {
  width: 20rem;
  margin: 10px;
  padding: 10px;
}

.formsbutton {
  width: 15rem;
  margin: 0.5rem;

  font-size: 1.5em;

  

}

.login {
  background-color: rgb(238, 28, 157);
  border: 0.25rem solid rgb(255, 138, 197); 
  color: white;

}

.toggle {
  font-size: 1em;
  background-color: pink;
}

.register {
  font-size: 1.2em;
  background-color: aqua;
  border: 0.25rem solid rgb(0, 180, 180);
  color: black;
}

.formslabel {
  font-size: x-large;
}
