<app-login-header></app-login-header>
<div class="form">
  <div class="cont">
    <div class="inputs">
      <div class="group">
        <label for="username" class="formslabel">Usuario</label>
        <input
          id="username"
          type="text"
          placeholder="Ingrese su Usuario"
          class="formsinput"
          [formControl]="username"
        />
      </div>

      <div class="group">
        <label for="password" class="formslabel">Contraseña</label>
        <input
          id="password"
          type="password"
          placeholder="Ingrese su contraseña"
          class="formsinput"
          [formControl]="password"
        />
      </div>

      <div class="group" [style.display]="isRegistering ? 'flex' : 'none'">
        <label for="type" class="formslabel">Tipo de Usuario</label>
        <select id="type" class="formsinput" [formControl]="type">
          <option [value]="type" *ngFor="let type of types">
            {{ type }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <button
    *ngIf="!isRegistering"
    type="submit"
    class="formsbutton login"
    (click)="login(username.value, password.value)"
    [disabled]="!(username.valid && password.valid)"
  >
    Iniciar Sesión
  </button>

  <button
    *ngIf="isRegistering"
    type="button"
    class="formsbutton register"
    [disabled]="!(username.valid && password.valid)"
    (click)="register(username.value, password.value, type.value)"
  >
    Registrar Usuario
  </button>

  <button (click)="toggleRegistering()" class="formsbutton toggle">
    {{ !isRegistering ? 'Registrar nuevo usuario' : 'Volver a iniciar sesión'}}
  </button>

  <!-- <button type="button" class="formsbutton" (click)="showusers()">dev</button> -->
</div>
