<div class="cartcard">
  <img class="img" [src]="candyTaken.candy.photoLink" />
  <div class="content">
    <div class="title">
      <h1>
        {{ candyTaken.candy.name }}
      </h1>
      <h2>${{ candyTaken.candy.price * candyTaken.stock }}</h2>
    </div>
    <div class="takenStock">
      <div class="stockChange">
        <button (click)="changeOne(-1)" class="changeStockButton">-</button>
        <input
          class="changeStockInput"
          type="number"
          name="stockChange"
          id="stockChange"
          [value]="candyTaken.stock"
          disabled
        />
        <button (click)="changeOne(1)" class="changeStockButton">+</button>
      </div>
      <button (click)="deleteCandy()">Eliminar</button>
    </div>
  </div>
</div>
